gen/jdbcUrlTemplate.rng

<?xml version="1.0" encoding="utf-8"?>
<!-- https://www.kohsuke.org/relaxng/tutorial.ja.html -->
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">

    <include href="sheard.rng"/>

    <start>
        <element name="jdbcUrlTemplate">
            <zeroOrMore>
                <element name="product">
                    <attribute name="name">
                        <text />
                    </attribute>
                    <zeroOrMore>
                        <ref name="jdbcUrlTemplateContent" />
                    </zeroOrMore>
                </element>
            </zeroOrMore>
        </element>
    </start>

    <define name="jdbcUrlTemplateContent">
        <element name="driver">
            <attribute name="name">
	            <text />
            </attribute>
	        <element name="template">
	            <text />
	        </element>
        </element>
    </define>

</grammar>

