gen/jdbcUrlTemplate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- https://www.kohsuke.org/relaxng/tutorial.ja.html -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="sheard.xsd"/>
  <xs:element name="jdbcUrlTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="product"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="driver"/>
      </xs:sequence>
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="driver">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="template"/>
      </xs:sequence>
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="template" type="xs:string"/>
</xs:schema>
